doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title}
    link(rel='stylesheet', href='css/app.min.css')
  body
    nav(class='navbar navbar-inverse navbar-fixed-top')
      section(class='container')
        section(class='navbar-header')
          a(href='#', class='navbar-brand')
            i(class='glyphicon glyphicon-user')
            | &nbsp; #{title}

    section(id='main', class='container')

    footer(class='footer')
      section(class='container')
        | Made with&nbsp;
        a(href='http://gulpjs.com/', target='_blank') Gulp

    script(src='js/app.min.js')
